@font-face {
    font-family:marv ;
    src: url("../Media/Fonts/Marvind.ttf");
}
body{
    background-color:#e8b666 ;   
    overflow: hidden;
}
.transIn{
    scale: 5;
    margin: 0;
    position: absolute;
    z-index: 70;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    visibility: visible;
    animation: TransIn 2s;
}
.transHide{
    visibility: hidden !important;
}
@keyframes TransIn {
    90%{
        opacity: 0;
    }
}
.promo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.backDivButton{
    position: relative;
    z-index: 20;
}
button{
    
    position: absolute;
    border: none;
    background:radial-gradient(#f15a24 50%,yellow );
    padding: 50px;
    margin: 0;
    border-radius: 50%;
    margin-left:-30px ;
    margin-top: -30px;
    transition: 2s;
    cursor: pointer;
}
button::before{
    margin: 0;
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 175, 14);
    scale: 1.3;
    filter: blur(5px);
    animation: sclaeBack 2.5s infinite ease-in-out;
}
@keyframes sclaeBack {
    50%{
        scale: 1.15;
    }
}
button span{
    font-size: 2em;
    font-family: 'marv';
    color: white;
    transition: 1s;
}
.backToProjects{
    padding: 200vw !important;
    margin-left: -100vw !important;
    margin-top: -100vw !important;
}
button:hover span{
    opacity: 0;
}